example/WebApi-examples.json
[
    {
        "id": "t0",
        "type": "tab",
        "label": "Example Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "n1",
        "type": "ewelink-list-devices",
        "z": "t0",
        "name": "",
        "auth": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "n3"
            ]
        ]
    },
    {
        "id": "n2",
        "type": "inject",
        "z": "t0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "n1"
            ]
        ]
    },
    {
        "id": "n3",
        "type": "debug",
        "z": "t0",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "n4",
        "type": "ewelink-status-device",
        "z": "t0",
        "name": "",
        "auth": "",
        "deviceid": "MyDeviceId",
        "deviceidType": "str",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "n3"
            ]
        ]
    },
    {
        "id": "n5",
        "type": "ewelink-home",
        "z": "t0",
        "name": "",
        "auth": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "n3"
            ]
        ]
    },
    {
        "id": "n6",
        "type": "inject",
        "z": "t0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "n5"
            ]
        ]
    },
    {
        "id": "n7",
        "type": "inject",
        "z": "t0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "n4"
            ]
        ]
    },
    {
        "id": "075353231032a637",
        "type": "inject",
        "z": "t0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "1d10c984745da1c4"
            ]
        ]
    },
    {
        "id": "1d10c984745da1c4",
        "type": "ewelink-set-status",
        "z": "t0",
        "name": "",
        "auth": "",
        "deviceid": "MyDeviceId",
        "deviceidType": "str",
        "params": "{\"switches\":[{\"switch\":\"on\",\"outlet\":3}]}",
        "paramsType": "json",
        "x": 430,
        "y": 520,
        "wires": [
            [
                "n3"
            ]
        ]
    },
    {
        "id": "c1",
        "type": "global-config",
        "env": [],
        "modules": {
            "@floflal/node-red-ewelink-v2-oauth": "0.1.0"
        }
    }
]